@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* base styles */
* {
  margin: 0;
  /* font-family: "Quicksand"; */
  font-family: "Lato", sans-serif;
  /* font-family: "DM Serif Display", serif; */
  /* font-family: "Sixtyfour", sans-serif; */
  color: #000000;
  background-color: #EFEFEF;
}
.navbar {
  font-family: "Quicksand";
  padding: 1rem 10rem;
  display: flex;
  align-items: center;
  margin: 0 auto;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  font-weight: 600;
  height: 4.7rem;
  position: sticky;
  top: 0;
  z-index: 1;
}
.navbar h1 {
  font-family: "DM Serif Display", serif;
  font-weight: 800;
  font-size: 2.5rem;
  /* color: #f1356d; */
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  /* margin-left: 16px; */
  text-decoration: none;
  padding: 0.4rem;
  margin-right: 2rem;
  transition: all ease-in-out .55s;
  cursor: pointer;
}
.navbar a:hover:not(.not) {
  color: #f1356d;
  border-bottom: 0.2rem #f1356d solid;
}
.content {
  margin: 1.4rem auto;
  padding: 1rem;
}
.downloadBTN {
/* color: white; */
background: #000000;
border: 0.1rem solid #000000;
outline: 0;
border-radius: 5px;
padding: 1rem 1rem;
cursor: pointer;
font-weight: 600;
font-size: 1rem;
transition: all ease .55s;
color: #ffffff;
}

.downloadBTN:hover{
  background: none;
  color: #000000;
 }

.home {
  /* font-family: "Archivo Black", sans-serif; */

  align-items: center;
  margin: 0 auto;
  max-width: 65rem;
  height: 60rem;
  text-align: center;

}
.home h1{
  /* font-family: "Archivo Black", sans-serif; */
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 10rem;
  line-height: 150px;
}
.bottomContent {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  display: flex;
}
.bottom1, .bottom2 {
  flex: 1;
  font-size: 20px;
}
.bottom1 {
  margin-left: 100px;
  max-width: 250px;
}
.bottom2 {
  text-align: end;
  margin-right: 150px;
}